@model GoOn.Models.Usuario
@{
    ViewBag.Title = "Agregar";
}

<h2>Test Estudiante</h2>

<!--Formulario para la creacion del usuario-->
@if (ViewBag.mensaje != null)
{
    var contenido = ViewBag.mensaje;
    if (contenido.Contains("exitosamente") == true)
    {
        <div class="alert alert-success">@ViewBag.mensaje</div>
    }
    else
    {
        <div class="alert alert-danger">@ViewBag.mensaje</div>
    }

}

@using (Html.BeginForm("Agregar", "Estudiante", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>

                <label for="rut">Nombre Rut :</label>
                <input type="text" name="rut" id="rut" />

                <label for="dv">DV :</label>
                <input type="text" name="dv" id="dv" />
            </div>

            <div>
                <label for="username">Username :</label>
                <input type="text" name="username" id="username" />
            </div>

            <div>
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" />
            </div>

            <div>
                <label for="nombres">Nombres :</label>
                <input type="text" name="nombres" id="nombres" />
            </div>

            <div>
                <label for="apellidos">Apellidos :</label>
                <input type="text" name="apellidos" id="apellidos" />
            </div>

            <div>
                <label for="email">Email :</label>
                <input type="email" name="correo" id="email" />
            </div>

            <div>
                <label for="celular">Celular :</label>
                <input type="number" name="celular" id="celular" />
            </div>

            <div>
                <label for="fecha">Fecha Nacimiento :</label>
                <input type="date" name="fecha" id="fecha" />
            </div>

            <select name="idCarrera">
                
                    <option value="1">Ingenieria informatica</option>
                    <option value="2">Gastronomia</option>
                    <option value="3">Ingenieria Conectividad y Redes</option>
                    <option value="4">Turismo y Hoteleria</option>
                    <option value="5">Administracion de Empresa</option>

            </select>

            <div>
                <input type="file" name="imageFile"  />
            </div>


            <input type="submit" value="Registrar Estudiante" />
        </div>

    </div>

}